<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lucascalderon1.olx">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OLX"
        tools:targetApi="31">




        <activity android:name=".activitys.FiltrosActivity"
            android:exported="false"/>
        <activity android:name=".activitys.DetalhesAnuncioActivity"
            android:exported="false"/>
        <activity android:name=".activitys.MainActivity"
            android:exported="false"/>
        <activity android:name=".activitys.RegioesActivity"
            android:exported="false"/>
        <activity android:name=".activitys.EstadosActivity"
            android:exported="false"/>
        <activity android:name=".activitys.CategoriasActivity"
            android:exported="false"/>
        <activity android:name=".activitys.FormAnuncioActivity"
            android:exported="false"/>
        <activity android:name=".activitys.EnderecoActivity"
            android:exported="false"/>
        <activity android:name=".activitys.PerfilActivity"
            android:exported="false"/>
        <activity android:name=".autenticacao.RecuperarSenhaActivity"
            android:exported="false"/>
        <activity android:name=".autenticacao.CriarContaActivity"
            android:exported="false"/>
        <activity android:name=".autenticacao.LoginActivity"
            android:exported="false"/>
        <activity android:name=".activitys.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>


